<div class="aboutParallax1"></div>

<nav class="grey lighten-2 grey-text">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo grey-text text-darken-1">Livingnight</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/projects" class="grey-text text-darken-1">Projects</a></li>
            <li><a href="/about" class="grey-text text-darken-1">About</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/projects">Portfolio</a></li>
</ul>


<div class="container-fluid grey lighten-2">
    <div class="row valign-wrapper">
        <div class="col s1">
            <img class="img-responsive profile left" src="assets/images/profilePic.jpg">
        </div>

        <div class="containAbout col s6 grey-text text-darken-3">
            <h1>James Jernigan</h1>
            <p class="about">My name is James Jernigan. Feel free to call me Jay or Jaybird! I'm making my way to a
                new career from a background in front facing sales and customer service. I've loved coding since my
                first computer science class and the idea of creating something that can change the world, or at
                least improve it, has always appealed to me. I already love the fast paced world of web development.
                I am curious and love working with new ideas and technology. The act of continuous learning is one of
                my greatest motivators because I know that it will take me places and allow me to do things that
                nothing else can.
            </p>
            <p class="about">I look forward to talking to you more!</p>
        </div>
        <div class="col s3">
            <div id="connect-content">
                <!--<div class="container">-->
                <header class="connect-header "><h3>Connect With Me!</h3></header>
                <div class="container-fluid center-block">
                    <a href="https://github.com/Livingnight" target="_blank">
                        <img id="github" src="assets/images/github.png">
                    </a>
                    <a href="https://www.linkedin.com/in/jay-jernigan-3175a2a1/" target="_blank">
                        <img id ="linkedin" src="assets/images/linkedin.png">
                    </a>
                    <a href="https://stackoverflow.com/users/9140944/livingnight" target="_blank">
                        <img id="stack-overflow" src="assets/images/stack-overflow.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div class="aboutParallax2"></div>

<footer class="page-footer grey lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12 valign-wrapper">
                <p class="grey-text text-darken-3">"Anything worth doing well is worth doing poorly at first."</p>
                <p class="grey-text text-darken-3">— Ray Congdon</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <div class="row">
                    <h5 class="grey-text text-darken-3 col s18 offset-s4">Links</h5>
                    <div class="col l6 s12">
                        <ul>
                            <li class="footer"><a class="grey-text text-darken-3" href="/">Home</a></li>
                            <li class="footer"><a class="grey-text text-darken-3" href="/about">About</a></li>
                            <li class="footer"><a class="grey-text text-darken-3" href="/projects">Projects</a></li>

                        </ul>
                    </div>
                    <div class="col l6 s12">
                        <ul>
                            <li class="footer">
                                <a class="grey-text text-darken-3"
                                   href="https://www.linkedin.com/in/jay-jernigan-3175a2a1/">Linkedin</a></li>
                            <li class="footer">
                                <a class="grey-text text-darken-3" href="https://github.com/Livingnight">Github</a></li>
                            </li>
                            <li class="footer">
                                <a class="grey-text text-darken-3"
                                   href="https://stackoverflow.com/users/9140944/livingnight">Stack Overflow</a></li>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center grey-text text-darken-3">
            © 2018 James Jernigan
        </div>
    </div>
</footer>