<div class="portfolioParallax2"></div>

<nav class="grey lighten-2 grey-text">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo grey-text text-darken-1">Livingnight</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/projects" class="grey-text text-darken-1">Projects</a></li>
            <li><a href="/about" class="grey-text text-darken-1">About</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/projects">Portfolio</a></li>
</ul>

<div class="container grey lighten-2 project1">
    <div class="row">
        <h3 class="col s12 project-title">graphqlReadingList</h3>
        <h5 class="col s12 project-description">A single page application that utilizes GraphQL, Apollo, React, MongoDB
            and Express to create a page where you can save authors and their books to be displayed on the page from a single API endpoint.
        </h5>
        <img class='reading-list-img' src="assets/images/readingList.JPG" alt="graphql reading list picture"/>
        <div class="portfolio-project-links">
        <ul class="center">
            <li><h5><a href="https://livingnight-reading-list.herokuapp.com" target="_blank">Live |</a></h5></li>
            <li><h5><a href="https://github.com/Livingnight/graphQLReadingList" target="_blank">Github</a></h5></li>
            <!--<li><a href="/resume">Resume</a></li>-->
        </ul>
        </div>

    </div>

</div>

<div class="portfolioParallax2"></div>

<div class="container grey lighten-2 project2">
    <div class="row">
        <h3 class="col s12 project-title">React Click Game</h3>
        <h5 class="col s12 project-description">A game made using React and Javascript with 12 pictures from The Legend of Zelda. Click Each
            picture once and only once as the pictures shuffle to win the game.
        </h5>
        <br />
        <img class='reading-list-img' src="assets/images/clickGame.JPG" alt="graphql reading list picture"/>
        <div class="portfolio-project-links">
        <ul class="center">
            <li><h5><a href="https://livingnight.github.io/clickGame/" target="_blank">Live |</a></h5></li>
            <li><h5><a href="https://github.com/Livingnight/clickGame" target="_blank">Github</a></h5></li>
            <!--<li><a href="/resume">Resume</a></li>-->
        </ul>
        </div>

    </div>

</div>

<div class="portfolioParallax2"></div>

<div class="container grey lighten-2 project3">
    <div class="row">
        <h3 class="col s12 project-title">openChannel</h3>
        <h5 class="col s12 project-description">An application built to faciliate communication between managers and employees. Create
            and update actions to take keep track of where you and your team are going.</h5>
        <br />
        <img class='reading-list-img' src="assets/images/openChannelSnip.JPG" alt="graphql reading list picture"/>
        <div class="portfolio-project-links">
        <ul class="center">
            <li><h5><a href="https://murmuring-tor-51179.herokuapp.com/" target="_blank">Live |</a></h5></li>
            <li><h5><a href="https://github.com/Livingnight/openChannel" target="_blank">Github</a></h5></li>
            <!--<li><a href="/resume">Resume</a></li>-->
        </ul>
        </div>
    </div>

</div>

<div class="portfolioParallax2"></div>

<div class="container grey lighten-2 project4">
    <div class="row">
        <h3 class="col s12 project-title">NYT Reading List</h3>
        <h5 class="col s12 project-description">A single page application that allows a user to query the NYT article api for articles of
            interest and subsequently save the ones they want to read later. Made using Express, React, MongoDB, and
            Axios.
        </h5>
        <br />
        <img class='reading-list-img' src="assets/images/nytArticle.JPG" alt="graphql reading list picture"/>

        <div class="portfolio-project-links">
        <ul class="center">
            <li><h5><a href="https://mighty-hamlet-97530.herokuapp.com" target="_blank">Live |</a></h5></li>
            <li><h5><a href="https://github.com/Livingnight/nyt-react-app" target="_blank">Github</a></h5></li>
            <!--<li><a href="/resume">Resume</a></li>-->
        </ul>
        </div>

    </div>

</div>

<div class="portfolioParallax2"></div>

<footer class="page-footer grey lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text"></h5>
                <p class="grey-text text-darken-3">"Anything worth doing well is worth doing poorly at first."
                    — Ray Congdon
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <div class="row">
                    <h5 class="grey-text text-darken-3 col s18 offset-s4">Links</h5>
                    <div class="col l6 s12">
                        <ul>
                            <li class="footer"><a class="grey-text text-darken-3" href="/">Home</a></li>
                            <li class="footer"><a class="grey-text text-darken-3" href="/about">About</a></li>
                            <li class="footer"><a class="grey-text text-darken-3" href="/projects">Projects</a></li>

                        </ul>
                    </div>
                    <div class="col l6 s12">
                        <!--<h5 class="grey-text text-lighten-2">asdfadsf</h5>-->
                        <ul>
                            <li class="footer">
                                <a class="grey-text text-darken-3" href="https://www.linkedin
                                .com/in/jay-jernigan-3175a2a1/" target="_blank">
                                    Linkedin</a></li>
                            <li class="footer">
                                <a class="grey-text text-darken-3" href="https://github.com/Livingnight" target="_blank"
                                >Github</a></li>
                            </li>
                            <li class="footer">
                                <a class="grey-text text-darken-3" href="https://stackoverflow
                                .com/users/9140944/livingnight" target="_blank">Stack Overflow</a></li>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center grey-text text-darken-3">
            © 2018 James Jernigan
        </div>
    </div>
</footer>
